 .cost-input{
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    border: 1px solid black;
}
.cal-bt{
    padding: 11px 10px 11px 10px;
    font-size: 15px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
body{
    font-family: Arial;
}
.less-then-0{
    color: red;
}